$primary-color: #3498db;

body {
    background-color: $primary-color;
}

header {
    background-color: bisque;
    nav {
        padding: 20px;
        ul {
            list-style: circle;
            li {
                text-decoration: underline;
            }
        }
    }
}