h1 {
    color: blueviolet;
    font-family: "Kode Mono", monospace;
    text-align: center;
    font-style: oblique;
    text-transform: lowercase;
}

input {
    width: 20%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
}

footer {
    text-align: center;
    color: brown;
        .footer_link {
        color: blueviolet;
            .footer_link:hover{
            color: aquamarine;
            background-color: black;
            border: 2px solid blue;
        }
    }
}

nav {
    text-align: center;
    color: aqua;
    padding: 0;
    border: 0;
        .navbar {
        color: blue;
    }
}