*{
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: blueviolet;
    font-family: "Kode Mono", monospace;
    text-align: center;
    font-style: oblique;
    text-transform: lowercase;
}

.paseos{
    text-align: center;
    font-family: "Libertinus Keyboard", system-ui;
    display: flex;
    flex-wrap: wrap;
    color: rgb(28, 99, 75);
    
}

.paseos-section {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.paseos-section img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.chota {
    width: 200px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}

input {
    width: 20%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
}

footer{
    text-align: center;
    color: brown;
}

nav{
    text-align: center;
    color: aqua;
    padding: 0;
    border: 0;
}

#popnmusic{
    text-align: center;
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

p{
    text-align: justify;
    color: rgb(15, 134, 15);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.parra-recs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(228, 130, 198);
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
    margin: 20px;
}

.image-popnmusic {
    border-radius: 10px;
    width: 600px;
}

.container-fluid {
    background-color: coral;
    color: blue;
}

.navbar {
    color: blue;

}

.footer_link {
    color: blueviolet;
}

.footer_link:hover{
    color: aquamarine;
    background-color: black;
    border: 2px solid blue;
}

@media screen and (max-width: 800px) {
  .paseos-section {
    flex: 50%;
    max-width: 50%;
  }
  #popnmusic {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .paseos-section {
    flex: 100%;
    max-width: 100%;
  }
  #popnmusic {
    flex: 100%;
    max-width: 100%;
  }
}

.button {
    background-color: pink;
    width: 50%;
    border-radius: 4px;
    margin: 8px 0;
}

.button:active {
    background-color: palevioletred;
}

input:required{
    border: 5px solid red;
}


form {
  border-radius: 5px;
  background-color: #acabec;
  padding: 20px;
}

label {display: block;}

input[type=text], select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #d616b6;
  border-radius: 4px;
  box-sizing: border-box;
}

.index-container {
    display: grid;
    grid-template-columns: 75px 1fr 1fr;
    grid-template-rows: 100px auto 50px;
    gap: 10px;
    grid-template-areas: 
    "sidebar img img"
    "sidebar header header"
    "sidebar main main";
    padding: 25px;
    margin: 10px;
}

.item1 {
    grid-area: header;
    color: #0b08c7;
}
.item2 {
    grid-area: sidebar;
    color: #6260da;
    font-weight: bold;
    background-color: rgb(129, 240, 203);
    margin: auto;
    border-radius: 2px;
}
.item3 {
    grid-area: main;
}

.image {
    width: 200px;
}